<!--{% load static%}-->
<!--<!DOCTYPE html>-->
<!--<html lang="ja">-->
<!--  <head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <title>Purple Admin</title>-->
<!--    &lt;!&ndash; plugins:css &ndash;&gt;-->
<!--    <link rel="stylesheet" href="{% static 'Purple/assets/vendors/mdi/css/materialdesignicons.min.css'%}">-->
<!--    <link rel="stylesheet" href="{% static 'Purple/assets/vendors/css/vendor.bundle.base.css'%}">-->
<!--    &lt;!&ndash; endinject &ndash;&gt;-->
<!--    &lt;!&ndash; Plugin css for this page &ndash;&gt;-->
<!--    &lt;!&ndash; End plugin css for this page &ndash;&gt;-->
<!--    &lt;!&ndash; inject:css &ndash;&gt;-->
<!--    &lt;!&ndash; endinject &ndash;&gt;-->
<!--    &lt;!&ndash; Layout styles &ndash;&gt;-->
<!--    <link rel="stylesheet" href="{% static 'Purple/assets/css/style.css' "%}>-->
<!--    &lt;!&ndash; End layout styles &ndash;&gt;-->
<!--    <link rel="shortcut icon" href="{% static 'Purple/assets/images/favicon.png'%}" />-->
<!--  </head>-->
<!--  <body>-->
<!--    <div class="container-scroller">-->
<!--      <div class="container-fluid page-body-wrapper full-page-wrapper">-->
<!--        <div class="content-wrapper d-flex align-items-center auth">-->
<!--          <div class="row flex-grow">-->
<!--            <div class="col-lg-4 mx-auto">-->
<!--              <div class="auth-form-light text-left p-5">-->
<!--                <div class="brand-logo">-->
<!--                  <img src="{% static 'Purple/assets/images/logo.svg'%}">-->
<!--                </div>-->
<!--                <h4>Hello! let's get started</h4>-->
<!--                <h6 class="font-weight-light">Sign in to continue.</h6>-->
<!--                <form class="pt-3">-->
<!--                  <div class="form-group">-->
<!--                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">-->
<!--                  </div>-->
<!--                  <div class="form-group">-->
<!--                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">-->
<!--                  </div>-->
<!--                    {% csrf_token %}-->
<!--                    {{ form.as_p }}-->
<!--                  <div class="mt-3">-->
<!--                    <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" href="{% static 'Purple/index.html'%}">SIGN IN</a>-->
<!--                  </div>-->
<!--                  <div class="my-2 d-flex justify-content-between align-items-center">-->
<!--                    <div class="form-check">-->
<!--                      <label class="form-check-label text-muted">-->
<!--                        <input type="checkbox" class="form-check-input"> Keep me signed in </label>-->
<!--                    </div>-->
<!--                    <a href="#" class="auth-link text-black">Forgot password?</a>-->
<!--                  </div>-->
<!--                  <div class="mb-2">-->
<!--                    <button type="button" class="btn btn-block btn-facebook auth-form-btn">-->
<!--                      <i class="mdi mdi-facebook mr-2"></i>Connect using facebook </button>-->
<!--                  </div>-->
<!--                  <div class="text-center mt-4 font-weight-light"> Don't have an account? <a href="register.html" class="text-primary">Create</a>-->
<!--                  </div>-->
<!--                </form>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; content-wrapper ends &ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash; page-body-wrapper ends &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; container-scroller &ndash;&gt;-->
<!--    &lt;!&ndash; plugins:js &ndash;&gt;-->
<!--    <script src="{% static 'Purple/assets/vendors/js/vendor.bundle.base.js'%}"></script>-->
<!--    &lt;!&ndash; endinject &ndash;&gt;-->
<!--    &lt;!&ndash; Plugin js for this page &ndash;&gt;-->
<!--    &lt;!&ndash; End plugin js for this page &ndash;&gt;-->
<!--    &lt;!&ndash; inject:js &ndash;&gt;-->
<!--    <script src="{% static 'Purple/assets/js/off-canvas.js'%}"></script>-->
<!--    <script src="{% static 'Purple/assets/js/hoverable-collapse.js'%}"></script>-->
<!--    <script src="{% static 'Purple/assets/js/misc.js'%}"></script>-->
<!--    &lt;!&ndash; endinject &ndash;&gt;-->
<!--  </body>-->
<!--</html>-->

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<!--以下、ログインが完了するとホームページに飛ぶように設計されている-->
<input type="hidden" name="next" value="{% url 'app:habit_list' %}" />
</form>
{% endblock %}